# Byte-compiled
__pycache__/
*.py[cod]
*.pyo

# Virtual env
venv/
.venv/

# Environment
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Node
node_modules/
dist/
.cache/

# Logs
*.log
